.Counter{
    width: 500px;
    height: 300px;
    margin: 50px auto;
}
.ButtonContainer{
    margin: 10px auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.Button{
    width: 100px;
    height: calc(100px - 18px);
    text-align: center;
    padding-top: 18px;
    background-color: saddlebrown;
    color: white;
    font-size: 36pt;
}

.counterDisplay{
    margin: 0px auto;
    color: white;
    font-size: 36pt;
    width: 300px;
    height: 100px;
    padding-top: 35px;
    background-color: teal;
}